<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iReporter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/inter.css">
    <link rel="stylesheet" type="text/css" href="../static/admin.css">
</head>

<body>
    <header>
        <div class="headnav">
            <div class="mytitle">
                <h1><a href="dashboard.html"> iReporter</a></h1>
            </div>
            <div class="menu-items">
                <ul>
                    <li><i class="fas fa-align-justify"></i></li>
                </ul>
            </div>
        </div>
    </header>

<!-- code here -->

<div class="box">
    <table>
      <tr>                                                                
        <th>Report</th>
        <th>Date Posted</th>
        <th>Status</th>
        <th>Action</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Black Spot</td>
        <td>15/08/2018</td>
        <td>Under Investigation: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">In progress!</p></td>
        <td>Rejected: <input type="checkbox" id="myCheck"  onclick="myFunction()"></td>
        <td>Resolved: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">Yeee!</p></td>
      </tr>
      <tr>
        <td>Potholes in Huruma</td>
        <td>01/11/2018</td>
        <td>Under Investigation: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">In progress!</p></td>
        <td>Rejected: <input type="checkbox" id="myCheck"  onclick="myFunction()"></td>
        <td>Resolved: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">Yeee!</p></td>
      </tr>
      <tr>
        <td>Street Lights Off</td>
        <td>11/09/2018</td>
        <td>Under Investigation: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">In progress!</p></td>
        <td>Rejected: <input type="checkbox" id="myCheck"  onclick="myFunction()"></td>
        <td>Resolved: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">Yeee!</p></td>
      </tr>
      <tr>
        <td>Foot-Bridge Collapsed</td>
        <td>03/03/2019</td>
        <td>Under Investigation: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">In progress!</p></td>
        <td>Rejected: <input type="checkbox" id="myCheck"  onclick="myFunction()"></td>
        <td>Resolved: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">Yeee!</p></td>
      </tr>
      <tr>
        <td>Matatu Menace</td>
        <td>30/06/2018</td>
        <td>Under Investigation: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">In progress!</p></td>
        <td>Rejected: <input type="checkbox" id="myCheck"  onclick="myFunction()"></td>
        <td>Resolved: <input type="checkbox" id="myCheck"  onclick="myFunction()">
        <p id="text" style="display:none">Yeee!</p></td>
      </tr>
    </table>
  </div>

    <script>
    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        var text = document.getElementById("text");
        if (checkBox.checked == true){
            text.style.display = "block";
        } else {
           text.style.display = "none";
        }
    }
</script>
    <footer class="myfooter">
        <p>Be the voice of change</p>
    </footer>

</body>

</html>