<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iReporter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <header>
        <div class="headnav">
            <div class="mytitle">
                <h1><a href="index.html"> iReporter</a></h1>
            </div>
            <div class="menu-items">
                <ul>
                    <li><i class="fas fa-align-justify"></i></li>
                </ul>
            </div>
        </div>
    </header>
    <!--code here -->
    <div>

        <div>
            <div class="login">
                <center><h2>Create A Red-Flad</h2></center><br>
                <form style="margin-top: -30%;">
                    
                    <table>
                        <tr>
                            <td><label for="name">Type Of Crime</label></td>
                            <td><input id="name" type="text" placeholder="Enter crime category here"></td>
                        </tr>
                        <br>
                        <tr>
                            <td><label for="name">Institution/Person involved</label></td>
                            <td><input id="category" type="text" placeholder="Enter Name here"></td>
                        </tr>
                        <br>
                        <tr>
                            <td><label for="name">Location Crime was committed</label></td>
                            <td><input id="description" type="text" placeholder="Enter location here"></td>
                        </tr>
                        <br>
                        <br>
                        <tr>
                            <td><label for="Quantity">When did it Happen</label></td>
                            <td><input id="currentstock" type="text" placeholder="Enter Date"></td>
                        </tr>
                        <br>
                        <tr>
                            <td><label for="name">Describe what really Happened</label></td>
                            <td><input id="minimumstock" type="text" placeholder="Enter Details"></td>
                        </tr>
                        <br>
                        <tr>
                            <td><label for="name">Any other information?</label></td>
                            <td><input id="price" type="text" placeholder="Enter additional information"></td>
                        </tr>
                        <br>
                        <tr>
                            <td><button class="button" type="submit">Create</button></td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>

    </div>

    <footer class="myfooter">
        <p>Be the voice of change</p>
    </footer>



    <script src="../static/login.js"></script>
</body>

</html> -->