<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iReporter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/inter.css">
</head>

<body>
    <header>
        <div class="headnav">
            <div class="mytitle">
                <h1><a href="index.html"> iReporter</a></h1>
            </div>
            <div class="menu-items">
                <ul>
                    <li><i class="fas fa-align-justify"></i></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- code goes here -->
        <div class="dash" style="width: 30%; display: inline-block; box-sizing: border-box;margin-left: 20px;cursor: pointer;">
            <center><img src="../images/red.jpg" onclick="window.location.href='../templates/profile.html'"></center>
            <h1>Red-Flags</h1>
        </div>
        <div class="dash" style="width: 30%; display: inline-block; box-sizing: border-box;margin-left: 40px;cursor: pointer;">
            <center><img src="../images/intervention.png" onclick="window.location.href='../templates/intervention.html'"></center>
            <h1>Intervention</h1>
        </div>
        <div class="dash" style="width: 30%; display: inline-block; box-sizing: border-box;margin-left: 40px;cursor: pointer;">
            <center><img src="../images/Avatar.png" onclick="window.location.href='#'"></center>
            <section class="hero">
                <div class="hero-content">
                    <h1>Admin Login Here</h1>
                    <a href="#card-container" id="button" class="button">Sign In</a>
                </div>
        </div>
         <!-- Modal Section -->
            <section class="card-container" id="card-container">
                <div class="bg-modal">
                    <div class="modal-contents">
                        <form action="">
                        <div class="close">+</div>
                        <img src="../images/Avatar.png" alt="" style="width: 30%;">

                        
                            <input type="text" placeholder="Name">
                            <input type="email" placeholder="E-Mail">
                            <input type="text" placeholder="........">
                            <a href="../templates/Admin.html" class="button">Submit</a>
                        </form>

                    </div>
                </div>
                </section>
            </section>

    
        

<script type="text/javascript" src="../static/inter.js"></script>

    <footer class="myfooter">
        <p>Be the voice of change</p>
    </footer>

</body>

</html>