<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iReporter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <header>
        <div class="headnav">
            <div class="mytitle">
                <h1><a href="index.html"> iReporter</a></h1>
            </div>
            <div class="menu-items">
                <ul>
                    <li><i class="fas fa-align-justify"></i></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="bigland">
        <div class="landing">
            <h1>Welcome to the iReporter App</h1>
            <p>                                                             
                This is a safe zone, your privacy and discreation is our number one priority                                                                                                                                                                                    
            </p>
            
            <h2>Recent Features</h2>
            <ul>
                <li>NYS Scandal</li>
                <li>Chicken Scandal</li>
                <li>Maize Scandal</li>
                <li>Referendum</li>
                <li>Downtown Fires</li>
            </ul>
        </div>
        <div class="container">
            <div class="login">
            
                <img src="../images/logo.png">
                <center><input class="button" id="login" type="button" value="Getting Started" onclick="window.location.href='../templates/signup.html'" /></center>
                        
            </div>

        </div>
    </div>

    <footer class="myfooter">
        <p>Be the voice of change</p>
    </footer>

</body>

</html>