<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iReporter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel="stylesheet" type="text/css" href="../static/demo.css">
</head>

<body>
    <header>
        <div class="headnav">
            <div class="mytitle">
                <h1><a href="index.html"> iReporter</a></h1>
            </div>
            <div class="menu-items">
                <ul>
                    <li><i class="fas fa-align-justify"></i></li>
                </ul>
            </div>
        </div>
    </header>
      <div class="form">
      <form class="login-form">
        <h1>Login</h1>
        <p>Authentication required.</p>
    <hr>
        <input type="text" name="" placeholder="user name">
        <input type="text" name="" placeholder="password">
        <button style="width: 90%; margin-top: 20px;"><a style="color: #000;font-size: 15px;text-decoration: none;color: green;"" href="../templates/profile.html" > Login </a> </button> 
        <p class="message"> Not Registered <a href="login.html" > Sign up</a></p>
      </form>
    </div>
    <footer class="myfooter">
        <p>Be the voice of change</p>
    </footer>


</body>

</html>