<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iReporter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
</head>

<body>
    <header>
        <div class="headnav">
            <div class="mytitle">
                <h1><a href="index.html"> iReporter</a></h1>
            </div>
            <div class="menu-items">
                <ul>
                    <li><i class="fas fa-align-justify"></i></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="bigland">
        <div class="landing">
           <center><img src="../images/avatar2.ico" alt="John" style="width:50%">
          <h1>James Bond</h1>
          <p class="title">Director, 007INC</p>
          <p>Kibwezi County</p></center>
          <div style="margin: 24px 0;">
            <table>
  <tr>
    <th style="width:50%">Email</th>
    <th>jamesbond@gmail.com</th>
  </tr>
  <tr>
    <th style="width:50%">Telephone</th>
    <th>+9 2345 1190</th>
  </tr>
</table>
         </div>
        </div>
        <div class="container">
            <div class="login">
            <div class="row">
  <div class="column">
    <img src="../images/red.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
    <h3>Maize scandal</h3>
  </div>
  <div class="column">
    <img src="../images/red.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
    <h3>Police briberly</h3>
  </div>
  <div class="column">
    <img src="../images/red.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
    <h3>Chicken Egg Scandal</h3>
  </div>
  <div class="column">
    <img src="../images/red.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
    <h3>NYS</h3>
  </div>
</div>


  </div>
</div>
               
      </div>

        </div>
    </div>

    <footer class="myfooter">
        <p>Be the voice of change</p>
    </footer>



    <script src="../static/login.js"></script>
</body>

</html>