<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iReporter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
</head>

<body>
    <header>
        <div class="headnav">
            <div class="mytitle">
                <h1><a href="dashboard.html"> iReporter</a></h1>
            </div>
            <div class="menu-items">
                <ul>
                    <li><i class="fas fa-align-justify"></i></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="bigland">
        <div class="landing">
           <center><img src="../images/avatar2.ico" alt="John" style="width:50%">
          <h1>James Bond</h1>
          <p class="title">Director, 007INC</p>
          <p>Kibwezi County</p></center>
          <div style="margin: 24px 0;">
            <table>
              <tr>
                <th style="width:50%">Email</th>
                <th>jamesbond@gmail.com</th>
              </tr>
              <tr>
                <th style="width:50%">Telephone</th>
                <th>+9 2345 1190</th>
              </tr>
            </table>
         </div>
        </div>

        
<!--red-flags -->

    <button style="background-color: #440021; color: white; font-size: 20px;" class="flagies">The golden-berg scandal<img src="../images/smallred.png" style="margin-top: 45px;"></button>
<div contenteditable="true" class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <form action="/action_page.php">
  <input type="file" name="pic" accept="image/*">
</form>
</div>

<button style="background-color: #ccc;font-size: 20px;color: black;" class="flagies">Maize scandal<img src="../images/smallred.png" style="margin-top: 45px;"></button>
<div contenteditable="true" class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <form action="/action_page.php">
  <input type="file" name="pic" accept="image/*">
</form>
</div>

<button style="background-color: #440021;font-size: 20px;color: white;" class="flagies">The chicken scandal<img src="../images/smallred.png" style="margin-top: 45px;"></button>
<div contenteditable="true" class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <form action="/action_page.php">
  <input type="file" name="pic" accept="image/*">
</form>
</div>

<!-- interventions-->

<button style="background-color: #ccc;color: black;font-size: 20px;" class="flagies">Dilapidated bridge<img src="../images/intervention.png" style="margin-top: 45px;"></button>
<div contenteditable="true" class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <form action="/action_page.php">
  <input type="file" name="pic" accept="image/*">
</form>
</div>

<button style="background-color: #440021;color: white;font-size: 20px;" class="flagies">Pothole along muthotho avenue<img src="../images/intervention.png" style="margin-top: 45px;"></button>
<div contenteditable="true" class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <form action="/action_page.php">
  <input type="file" name="pic" accept="image/*">
</form>
</div>

<button style="background-color: #ccc;color: black;font-size: 20px;" class="flagies">Garbage along hoi avenue<img src="../images/intervention.png" style="margin-top: 45px;"></button>
<div contenteditable="true" class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <form action="/action_page.php">
  <input type="file" name="pic" accept="image/*">
</form>
</div>

<script>
var acc = document.getElementsByClassName("flagies");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>


    <footer class="myfooter">
        <p>Be the voice of change</p>
    </footer>

</body>

</html>