.headnav {
    display: flex;
    width: 100%;
    top: 0%;
    position: fixed;
    height: 13%;
    z-index: 1;
    margin-left: -8px;
}

.mytitle {
    color: white;
    width: 50%;
    background: purple;
    float: left;
}
.mytitle a  {
    text-decoration: none;
    color: white;
}
img {
    width: 100%;
}
.bigland {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 1%;
}

.menu-items {
    width: 50%;
    float: left;
    background: purple;
    margin: 0 auto;
    position: relative;
    line-height: 1.4em;
}

.fa-align-justify {
    display: none;
}

.container {
    margin-top: 5.4%;
    height: 1%;
    float: right;
    width: 50%;
}

.menu-items li {
    float: right;
    list-style: none;
    text-decoration: none;
    padding-right: 20px;
    cursor: pointer;
}

.landing {
    margin-top: 6%;
    width: 40%;
    float: left;
    border: 1px solid #00001A;
    border-radius: 10px;
    padding-left: 3%;
}

.mymodal {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.myfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
    background: purple;
    margin-left: -8px;
}

.myfooter p {
    text-align: center;
    color: azure;
}

@media sreen and (maxwidth: 1024px) {
    .headnav {
        width: 100%;
        /* height: 50%; */
    }
    .fa-align-justify {
        display: block;
    }
    .admin-nav {
        margin-top: 25%;
    }
    .category {
        margin-top: 20%;
    }
}

@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }
    #secondary {
        width: 100%;
        margin: 0;
    }
    .admin-nav {
        margin-top: 15%;
    }
    .fa-align-justify {
        display: block;
    }
    .container {
        margin-top: 10%;
        align-self: center;
    }
    .headnav {
        width: 100%;
        height: 100%;
    }
    .menu-items {
        height: 10%;
    }
    .mytitle {
        height: 10%;
    }
}

@media screen and (max-width: 1080px) {
    .bigland {
        margin: 0 auto;
    }
    .wrapper {
        margin-top: 15%;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        height: 1100px;
    }
}

@media screen and (max-width: 768px) {
    .big-stock {
        margin-top: 15%;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: 200px 200px;
        height: 800px;
        ;
    }
    .bigland {
        flex-direction: column;
        margin-top: 10%;
    }
    .landing {
        width: 100%;
    }
}

